/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/


/* entire container, keeps perspective */

.portfolio-item {
	position: relative;
	transition: -webkit-transform 0.4s ease-in;

}

.front {
	position: absolute;
}

.back {
	transform: rotateY(-180deg);
	-webkit-backface-visibility: hidden;
}

.portfolio-item:hover {
	transform: rotateY(180deg);
}